*{
    color: white;
    font-family: google sans bold;
}

.navbar{
    background-image:url(../img/spider-man.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}



.logo{
    width: 50px;
}

.content-title{
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}

.card{
    background-image:url(../img/White.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    margin: 0 auto;
    max-width: 900px;
    font-family: 'Open Sans', bold;
    font-style: italic;
    
}

.container{
    width: 100% ;
    margin-top: 20px;
    background-color: rgba(91, 91, 91, 0.82);
}



.container > .spiderman{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

@font-face {
    font-family: google sans bold;
    src: url(../font/GoogleSans-Bold-v1.27.ttf);
}



.h1{
    text-align: center;
    width: 100%;
    font-family: google sans bold;
    font-size: larger;
    margin-top: 20px;
}

.cer-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cer{
    width: 90%;
    border: 1px solid #c7c7c7;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
