@font-face {
    font-family: myfont;
    src: url(../Font/GoogleSans-Italic-v1.27.ttf);
}

@font-face {
    font-family: tit;
    src: url(../Font/GoogleSansDisplay-Bold-v1.27.ttf);
}

.navbar{
    background-image:url(../img/hinh-anh-canh-may-bay_111631657.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo{
    width: 50px;
}

.content-title{
    font-family: tit;
    font-weight: bold;
    font-size: larger;
}

.card{
    background-image:url(../img/White.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    margin: 0 auto;
    max-width: 900px;
    
    font-family: myfont;
}