

.navbar{
    background-image:url(../img/spider-man.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: google sans bold;
}

@font-face {
    font-family: google sans bold;
    src: url(../font/GoogleSans-Bold-v1.27.ttf);
}


.logo{
    width: 50px;
}

.content-title{
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}

.card{
    background-image:url(../img/White.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    margin: 0 auto;
    max-width: 900px;
    font-family: 'Open Sans', bold;
    font-style: italic;
    
}


